In [ ]:
# Create a function myreduce()

In [ ]:
def myreduce(func1, data):
    
    out = data[0]
    for i in range(1,len(data)):
        out = func1(out,data[i]) 
    return out


# func1
def add_num(a,b):
    return a+b

In [ ]:
result = myreduce(add_num, [1,2,3,4,5,6])
result

21

In [ ]:
# Q2 create a filter function

In [ ]:
def myfilter(func2, data):
    
    out = [item for item in data if func2(item)]
    return out

# func2
def is_even(i):
    return i%2==0

In [ ]:
result = myfilter(is_even,[1,2,3,4,5,6,7,8,9,0,12])
result

[2, 4, 6, 8, 0, 12]

In [ ]:
# Q to print ['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

In [ ]:
[ele * i for ele in ['x','y','z'] for i in range(1,5)]

['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

In [ ]:
# Q to print ['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']

In [ ]:
[ele*i for i in range(1,5) for ele in ['x','y','z']]

['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']

In [ ]:
# Q to print [[2], [3], [4], [3], [4], [5], [4], [5], [6]]

In [ ]:
[[i+j] for i in range(1,4) for j in range(1,4)]

[[2], [3], [4], [3], [4], [5], [4], [5], [6]]

In [ ]:
# Q to print [[2, 3, 4, 5], [3, 4, 5, 6],[4, 5, 6, 7], [5, 6, 7, 8]]

In [ ]:
import numpy as np

In [ ]:
[list(np.arange(i,10))[:4] for i in range(2,6)]

[[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]

In [ ]:
# Q to print [(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]

In [ ]:
[(i,j) for j in range(1,4) for i in range(1,4)]

[(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]